<!DOCTYPE html>
<html>
<head>
    <title>List</title>
    <!-- Add Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Generated Packing List</h1>

        <div id="result">
            {% if my_list %}
                <!-- Display the packing list as an ordered list -->
                <ol>
                    {% for item in my_list %}
                        <li>{{ item }}</li>
                    {% endfor %}
                </ol>
                <a href="{% url 'download_list_pdf' %}" class="btn btn-primary">Download List as PDF</a>
            {% else %}
                <p id="no-items-message">No items in the list. Please try again.</p>
            {% endif %}
        </div>
        <br>
        <a href="{% url 'home' %}" class="btn btn-secondary">Back to Home</a>
    </div>

    <!-- Add Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
