{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'app1/login.css' %}">
</head>
<body>
    <div class="container">
        <form class="login-form" action="" method="post">
            {% csrf_token %}
            <h2>Signup Here</h2>
            <input type="text" placeholder="Username" name="username" id="username" required>
            <input type="email" placeholder="Email or Phone" name="email" id="email" required>
            <input type="password" placeholder="Password" id="password1" name="password1" required>
            <input type="password" placeholder="Confirm Password" id="password2" name="password2" required>
            <button type="submit">Signup</button>
            <p>Already have an account? <a href="{% url 'login' %}" class="signup-link">Login here</a>.</p>
        </form>
    </div>
</body>
</html>
